h1 {
    color: red;
}

.board {
    display: flex;
    flex-direction: column;
    border-style: dashed;
    border-width: 2px;
    border-color: black;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    flex: 0 0 500px;
    background-color: white;
}

.row {
    display: flex;
    justify-content: stretch;
    width: 500px;
    flex: auto;
}

.square {
    border-style: solid;
    border-width: 1px;
    flex: auto;
} 